body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: rgb(252, 252, 252);
}
h1{
    font-size: 3.5rem;
    color: hsl(0, 0%, 98%);
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.5rem;
    width:170px;
    height: 160px;
    margin: 0 10px;
    border-radius: 10000px;
    background-color: hsl(180, 20%, 97%);
    cursor: pointer;
    transition: background-color 0.5s ease;
   
}
.choices button:hover{
    background-color: hsl(0, 0%, 0%);
}
#playerDisplay, #computerDisplay{
    font-size: 2rem;
}
#resultDisplay{
    font-size: 3rem;
    margin: 30px 0;
}
.scoreDisplay{
    font-size: 2rem;
}
.greenText, #playerScoreDisplay{
    color: hsl(130, 84%, 54%);
}
.redText, #computerScoreDisplay{
    color: hsl(0, 84%, 60%);
}
.stone-img{
    width:150px;
    height: 150px;
}
.paper-img{
    width:150px;
    height: 150px;
}
.scissor-img{
    width:150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}